body {
}


.bottom-nav-bar {
  position: fixed;
  background-color: white;
  padding: 20px;
  border-top: 1px solid #c5c5c5;
  width: 100%;
  bottom: 0px;
}

.bottom-nav-bar .content {
  /* We first create a flex layout context */
  display: flex;
  /* Then we define the flow direction and if we allow the items to wrap */
  flex-flow: row wrap;
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
}

.bottom-nav-bar .divider {
  height: 25px;
  width: 1px;
}

.ant-modal-body  {
  background-image: #bc4e9c; /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to left, #bc4e9c, #f80759); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to left, #bc4e9c, #f80759); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: transparent;
  border-radius: 3px;
  padding-bottom: 10px !important;
}

.login-modal {
  color : white;
  text-align: center;
  margin: auto;
}

.login-modal h1 {
  color : white;
}

.login-modal a {
  color : #56284c
}

.login-modal a:hover {
  color : black
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.library-view {
  position: absolute;
  width: 100%;
  padding: 0px 25px 0px 25px;
  margin-bottom: 70px;
}

.now-playing {
  position: fixed;
  cursor: pointer;
  height: calc(100vh);
  width: 35%;
  background-color: white;
  bottom: calc(65px - 100vh);
  right: 0px;
  -webkit-transition:bottom, .3s ease-in;
  -moz-transition: bottom, .3s ease-in;
  -ms-transition: bottom, .3s ease-in;
  -o-transition: bottom, .3s ease-in;
  transition: bottom, .3s ease-in;
  z-index: 1;
}

.now-playing.open {
  bottom: -10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: initial;
  overflow-y: auto;
}

.now-playing .minimized-song-name {
  height: 50px;
  width: 50%;
  line-height: 50px;
  margin: 8px 0px 8px 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.blurBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);

  


  -webkit-transition:bottom, .2s ease-in;
  -moz-transition: bottom, .2s ease-in;
  -ms-transition: bottom, .2s ease-in;
  -o-transition: bottom, .2s ease-in;
  transition: bottom, .2s ease-in;
}

.list {
  outline: none;
}

.listItem {
  cursor: pointer;
}

.listItem:active {
  background-color: #e8e8e8;
}

.nowPlayingArtwork {

  margin: 8px 8px 8px 0px;
  float: left;
  border-radius: 5px;
  width: 50px;

  -webkit-transition:bottom, .2s linear;
  -moz-transition: bottom, .2s linear;
  -ms-transition: bottom, .2s linear;
  -o-transition: bottom, .2s linear;
  transition: bottom, .2s linear;
}

.nowPlayingArtwork.open {
  width: 95%;
  margin: auto;
  float: none;
  height: auto;
  border-radius: 5px;
  display: block;
}