body {
}


.bottom-nav-bar {
  position: fixed;
  background-color: white;
  padding: 20px;
  border-top: 1px solid #c5c5c5;
  width: 100%;
  bottom: 0px;
}

.bottom-nav-bar .content {
  /* We first create a flex layout context */
  display: flex;
  /* Then we define the flow direction and if we allow the items to wrap */
  flex-flow: row wrap;
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
}

.bottom-nav-bar .divider {
  height: 25px;
  width: 1px;
}

.ant-modal-body  {
  background-image: #bc4e9c; /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to left, #bc4e9c, #f80759); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to left, #bc4e9c, #f80759); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: transparent;
  border-radius: 3px;
  padding-bottom: 10px !important;
}

.login-modal {
  color : white;
  text-align: center;
  margin: auto;
}

.login-modal h1 {
  color : white;
}

.login-modal a {
  color : #56284c
}

.login-modal a:hover {
  color : black
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.library-view {
  position: absolute;
  width: 100%;
  padding: 0px 25px 0px 25px;
}

.testMe:hover {
  background-color: black;
  cursor: pointer;
}

.list {
  outline: none;
}